body{
    background-color: rgb(51, 15, 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1{
    font-family: sans-serif;
    color: rgb(248, 145, 71);
    margin-top: 30px;
}

a{
    margin: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(248, 145, 71);
}



.box-links{
    background-color: rgb(107, 33, 0);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 5px solid rgb(248, 145, 71);
    border-radius: 20px;
    padding: 20px 20px;
}

.developer-name{
    width: 270px;
    margin-bottom: 30px;
    color: rgb(40, 115, 255);
    font-weight: bold;
    text-align: center;
}