body{
    background-color: #330F03;
    font-family: sans-serif;
    color: #F89147;
    text-align: center;
    font-weight: bold;
}

header{
    padding: 50px;
}

main{
    display: flex;
    justify-content: center;
}

a{
    margin: 10px;
    text-align: left;
}

footer{
    background-color: #000;
    color: #1978E5;
}



.box-links{
    display: flex;
    flex-direction: column;
    background-color: #6B2100;
    width: 25em;
    border: 5px solid #F89147;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 20px 20px;
}