*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Sans-Serif;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

a{
    color: #f89147;
}

li{
    font-size: 15px;
}

button{
    background-color: transparent;
    border: none;
    width: 9em;
    height: 16em;
    font-weight: bold;
    cursor: pointer;
}



/* Secao 1 (cabecalho) */

.box-header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background-color: #330f03;
    text-align: center;
    color: #e81e36;
}

.logo-burguer-joint{
    width: 15em;
}

.text-mission-burguer-joint{
    margin-top: 50px;
    width: 20em;
}



/* Secao 2 (links de navegacao) */

.box-navigation-section{
    text-align: center;
    background-color: #6b2100;
    color: #f89147;
    padding-top: 80px;
    padding-bottom: 80px;
}

.links-navigation-section{
    padding: 10px 20px 20px 20px;
}

.border-navigation-section{
    width: 15em;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #f89147;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 8px;
}

.title-navigation-section{
    margin-top: 8px;
}

.margin-links{
    margin: 30px 0 0 0;
}



/* Secao 3 (cardapio) */

.box-menu-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f89147;
    text-align: center;
    color: #6b2100;
}

.title-menu-section{
    width: 22em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.caption{
    width: 20.5em;
    margin-bottom: 30px;
}

.box-products{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid #6b2100;
    border-radius: 20px;
    margin: 30px;
    padding: 10px 10px;
}

/* Faz os botoes dos produtos ficarem alinhados */ 
.btn-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #aa3613;
    margin-top: 10px;
    font-size: 12px;
    border: 5px solid #6b2100;
    border-radius: 20px;
    text-align: center;
    color: #ffcf57;
    transition: 0.2s ease;
}

.btn-product:hover{
    background-color: #e81e36;
}

.align-btns-products{
    display: flex;
    flex-wrap: wrap;
}

.margin-btns-products{
    margin: 10px;
}


/* Titulos das secoes dos produtos */

.title-burguers-section, .title-soft-drinks-section{
    width: 10em;
    margin: auto;
}

.title-juices-section{
    width: 15em;
    margin: auto;
}




/* Imagens dos produtos */

.image-btn-classic-burguer, .image-btn-vegetarian-burguer, .image-btn-bacon-burguer, .image-btn-coca-cola, .image-btn-fanta, .image-btn-sprite, .image-btn-orange-juice, .image-btn-lemon-juice, .image-btn-pineapple-juice{
    width: 3em;
    margin-top: 15px;
    margin-bottom: 20px;
}

.image-selected-product, .image-selected-product, .image-selected-product, .image-selected-product, .image-selected-product, .image-selected-product, .image-selected-product, .image-selected-product, .image-selected-product{
    width: 3em;
    margin-top: 15px;
    margin-bottom: 20px;
}



/* Secao 4 (sobre nos) */

.box-about-us-section{
    background-color: #fbb161;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: #330f03;
}

.border-about-us-section{
    width: 15em;
    margin: auto;
    border: 5px solid #330f03;
    border-radius: 20px;
    padding: 20px;
}

.title-about-us-section{
    margin-bottom: 20px;
}



/* Secao 5 (depoimentos dos clientes) */

.box-testimonials-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aa3613;
    text-align: center;
    color: #330f03;
}

.title-testimonials-section{
    margin-top: 30px;
    font-size: 20px;
}

.box-testimony-1, .box-testimony-2{
    margin: 30px;
}

.photos-styles{
    height: 5em;
    width: 5em;
    border: 5px solid #330f03;
    border-radius: 50%;
    margin-top: 20px;
}

.box-testimony-1{
    border: 5px solid #330f03;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    height: 25em;
    padding-right: 30px;
    padding-left: 30px;
}

.box-testimony-2{
    border: 5px solid #330f03;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    height: 25em;
    padding-right: 30px;
    padding-left: 30px;
}

.elements-box-testimony-1, .elements-box-testimony-2{
    margin: auto;
}



/* Secao 6 (rodape) */

.box-footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #330f03;
    text-align: center;
    color: #e81e36;
}

.logo-burguer-joint-footer-section{
    width: 8em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-contacts{
    margin-bottom: 10px;
    width: 320px;
    font-size: 20px;
    color: #e81e36;
}

.box-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    margin-bottom: 80px;
    color: #f89147;
    font-size: 17px;
}

.box-contact-phone, .box-contact-email, .box-contact-instagram{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.title-follow-us-instagram{
    color: #e81e36;
    width: 270px;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 20px;
}

.text-contact-phone{
    width: 18em;
    margin: 10px;
}

.text-contact-email{
    width: 13em;
}

.text-contact-instagram{
    width: 9em;
}

.box-credits-links{
    width: 28em;
    margin-bottom: 50px;
    font-size: 14px;
    text-align: center;
}

.box-developer-name{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    color: #f89147;
    margin-bottom: 20px;
}

.developer-name{
    background-color: #000;
    padding: 5px;
    color: #1978e5;
}