@media (max-width: 550px) and (min-width: 340px){

    /* Pagina principal */
    input{
        width: 250px;
    }
    .box-products{
        width: 300px;
        margin-top: 10px;
    }
    .box-orders{
        margin: 8px;
        width: 70px;
        height: 100px;
        font-size: 10px;
    }
    .names-products-added{
        top: 2px;
        right: 4px;
    }
    .box-credits-links{
        font-size: 12px;
    }

    #box-orders{
        width: 330px;
    }
    #box-selected-product, .box-address{
        width: 300px;
    }
    #title-credits-page{
        font-size: 23px;
    }



    /* Pagina dos creditos das imagens */
    .box-links{
        width: 20em;
    }
}


@media (max-width: 386px) {
    #title-credits-page{
        font-size: 20px;
    }
}