/* Relacionado a largura */

@media (max-width: 550px) and (min-width: 340px){

    /* Pagina principal */
    input{
        width: 250px;
    }


    .btn-confirm-orders{
        font-size: 12px;
    }

    .box-products{
        width: 300px;
        margin-top: 10px;
    }
    .box-orders{
        margin: 8px;
        width: 70px;
        height: 100px;
        font-size: 10px;
    }
    .names-products-added{
        top: 2px;
        right: 4px;
    }
    .box-credits-links{
        font-size: 12px;
    }

    
    #box-orders{
        width: 330px;
    }
    #box-selected-product, .box-address{
        width: 300px;
        font-size: 14px;
    }
    #title-credits-page{
        font-size: 23px;
    }


    /* Pagina dos creditos das imagens */
    .box-links{
        width: 20em;
    }
}



/* Relacionado a altura */

@media (max-height: 700px) {
    .box-products-added{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .box-added-product{
        width: 150px;
        height: 30px;
        font-size: 9px;
    }
}

@media (max-height: 510px) {
    .box-products-added{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-height: 295px) {
    #box-selected-product, .box-address{
        height: 240px;
    }
    #btn-back-selected-product{
        margin-bottom: 20px;
    }
}