@media (max-width: 550px) and (min-width: 340px){

    /* Pagina principal */
    .box-products{
        width: 300px;
        margin-top: 10px;
    }
    .box-orders{
        margin: 8px;
        width: 70px;
        height: 100px;
        font-size: 10px;
    }
    .names-products-added{
        top: 2px;
        right: 4px;
    }

    #box-orders{
        width: 330px;
    }
    #box-selected-product{
        width: 300px;
    }
    #title-credits-page{
        font-size: 25px;
    }



    /* Pagina dos creditos das imagens */
    .box-links{
        width: 20em;
    }
}